---
import LatestPosts from "../components/LatestPosts.astro"
import RandomPosts from "../components/RandomPosts.astro"
import SiteLayout from "../layouts/SiteLayout.astro"
---
<SiteLayout>
	<section>
		<header>
			<h2>About Jadon</h2>
		</header>
		<p>Hello! My name is Jadon. I use technology to do neat things and to help people.</p>
	</section>
	<LatestPosts />
	<RandomPosts />
</SiteLayout>
